
@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.woff') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}