
@media all and (min-width: 480px) and ( max-width: 767px) {
	
	/* header */

	.slider {
		margin-top: -150px;
	}
	.slider-article {
		margin-left: 30px;
		width: 240px
	}

	.slider__phone {
		position: absolute;
		top: -100px;
		right: 30px;
		display: block;
		width: 187px; height: 260px;
		background: url(../img/Iphone.png);
	}

	.slider__list {
		margin-top: 122px;
	}
	

	.article__exept--480 {
		display: inline;
	}

	.box-article-article__except--480 {
		display: inline;
	}

	.blog-section {
		margin: 0 auto;
		width: 71%;
	}

	.blog-title {
	margin-left: 10px;
	}

	.blog-article__title--480 {
		display: inline;
	}

	.blog-article__text--480 {
		display: inline;
	}

	.brand__item {
		flex-basis: 33%;
	}

	.wrapper-aside--news {
		display: block;
	}

	.article--news {
		margin-top: 20px;
	}

	.article__title--news {
		margin: 0;
		color: #454545;
	}

	.article__except--news {
		margin: 0;
		color: #454545;
	}

	.footer {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
	}

	.nav-footer {
		display: block;
	}

	.nav-footer__item {
		display: inline-block;
	}

	.nav-footer__link {
		display: block;
		padding: 0 10px;
		font-family: 'League Gothic Regular', Arial, sans-serif;
		color: #fff;
		font-size: 1rem;
		text-transform: uppercase;
	}

}