.wrapper {
	display: flex;
	justify-content: center;
	padding: 1rem 0;
}

.tabs {
	width: 55%;
	max-width: 50rem;
	min-width: 28rem;
}

.tabs__bar {
	padding: 0.7rem 0.7rem 0 0.7rem;
	background-color: #999999;
	border-radius: 3px;
}

.tabs-item {
  float: left;
  margin-right: 0.7rem;
  padding: 0.7rem;
  width: 20%; height: 20%;
  min-width: 8rem;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  background-color: 	#777777;
  cursor: pointer;
}

.tabs-item:hover {
	background-color: #666666;
}

.active {
	background-color: #555555;
}

.tabs-text {
	padding: 0.7rem 0.7rem 0.7rem 0.7rem;
	border-radius: 3px;
	text-indent: 1.5rem;
	line-height: 1.3rem;
	color: #fff;
	background-color: #555555;
}