body {
	background-image: url(../img/background.png);
	font-size: 12px;
	font-family: Tahoma, sans-serif;
}

.wrapper {
	position: relative;
	width: 1000px; height: 990px;
	background-color: #fff;
	margin: 0 auto;
	border-bottom: 3px solid #031d28;
	box-shadow:
  0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
	}
/* =============== google_head =============== */

.google_head {
	margin: 0 auto;
	width: 100%;
}

/* =============== header =============== */

header {
	position: relative;
	width: 1000; height: 175px;
	color: #128aa7;
}

.logo {                  /* зробити напис "путешествия по Азии" */
	position: absolute;
	top: 10px; left: 30px;
	display: block;
	width: 283px;
	text-decoration: none;
}

.logo p {
	position: absolute;
	margin-left: 65px;
	margin-top: 100px;
	color: #128aa7;
}

.contacts {
	position: absolute;
	top: 10px; right: 35px;
}

.contacts h3 {
  padding-bottom: 5px;
  font-size: inherit;
  font-weight: 600;
}

.contacts p {
  line-height: 1.5em;
}

.top_menu {
	position: absolute;
	top: 110px; right: 30px;
	font-size: 10px;
}

.top_menu ul li {
	display: inline-block;
}

.top_menu ul li a {
	display: block;
	text-align: center;
	background-position: center top;
	background-repeat: no-repeat;
	width: 55px;
	padding-top: 45px;
	color: #128aa7;
}

.india {
	background-image: url(../img/i_flag.png);
}

.nepal {
  background-image: url("../img/n_flag.png");
}

.tibet {
  background-image: url("../img/t_flag.png");
}

.butan {
  background-image: url("../img/b_flag.png");
}

.shri-lanka {
  background-image: url("../img/s_flag.png");
}

.maldives {
  background-image: url("../img/m_flag.png");
}

/* =============== foto =============== */

.photo {
	margin: 0;
	padding: 0;
	width: 1000px; height: 237px;
}

/* =============== menu =============== */

.menu {
	display: block;
	position: absolute;
	width: 1000px; height: 29px;
	border-bottom: 1px solid black;
	background-image: url(../img/panel.png);
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.7);
}

.menu ul {
	padding-top: 7px;
}

.menu li {
	position: relative;
	display: inline-block;
	height: 28px;
	padding-left: 20px;
}

.menu a {
	display: block;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	padding: 7px 23px 7px 23px;
}

.menu > li > ul {
	position: absolute;
	top: 29px;
	display: none;
}

.menu > li:hover > ul {
	display: block;
	padding-left: 10px;
	padding-right: 45px;
	padding-bottom: 10px;
	color: #fff;
	font-size: 14px;
	background-color: #303030;
	line-height: 1.5em;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.7);
}

/* =============== conteiner =============== */

.conteiner {
  display: flex;
  justify-content: space-between;
  width: 1000px; height: 550px;
  font-size: 14px;
  color: #424c43;
}

.inform,
.news {
	border: 1px solid gray;
	padding-top: 35px;
	padding-left: 15px;
	padding-right: 25px;
	height: 541px;
	background-color: #edeef0;
	line-height: 1.75em;
}

.inform h1,
.news h1 {
	text-align: center;
  font-weight: 600;
  font-size: 18px;
}

/* =============== footer =============== */

footer {
	margin-left: 550px;
	color: #fff;
}