.wrapper {
	margin: 0 auto;
	width: 1366px;
	height: 950px;
	background: #f9f9f9;
}
.box {
	margin: 0 auto;
	padding: 50px 50px 60px 50px;
	width: 1066px;
	height: 950px;
	background: 
}

/* header */
.menu {
	height: 40px;
}
.menu li {
	display: inline-block;
	margin-left: 25px;
	height: 40px;
	line-height: 40px;
}
.img-logo {

}
/* conteiner */
.conteiner{
	display: inline-block;
}
.sidebar{
	background-image: url(img/panel.png);
	width: 965px;
}
.sidebar li {
	text-align: left;
	border: 1px solid #c8c8c8;
	width: 240px;
	padding: 15;
}
.img-content {
	
}
/* footer */
.footer li,
span {
	display: inline-block;
}