body {
	background: #faf9ff;
}

div {
	margin: 0 auto;
	padding: 5rem;
	max-width: 932px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}